body {
  padding-top : 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo{
	margin: 0;
	height: 50px;
	margin-top: -12px;
}

.jumbotron {
	background: url(../images/jumbobg.jpg) no-repeat;
	color: white;
}

.container.profile{
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0;
}

.dashboardHeading{
	color: #10662f;
}

.title{
	color: #004f99;
	font-size: 1.2em;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Add a gray background color and some padding to the footer */

.carousel-inner img {
	width: 100%; /* Set width to 100% */
	margin: auto;
	min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
	.carousel-caption {
	display: none; 
}
}

.h2.homeWellTitle{
	color: #297087;
	text-transform: uppercase;
	font-size: 1.5em;
}

.well.status{
	height: 280px;
}

p.statusNumber{
	font-size: 4.5em;
	color: #f44242;
}

i.iconStatus{
	background-color:  #297087;
	color: #ffffff;
	font-size: 40px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	margin: 10px 15px;
	vertical-align: middle;
}

.aboutUs{
	font-size: 1.3em;
}