body {
  padding-top : 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
	background: url(../images/jumbobg.jpg) no-repeat;
	color: white;
}

.container.profile{
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0;
}

.dashboardHeading{
	color: #10662f;
}

.title{
	color: #004f99;
	font-size: 1.2em;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Add a gray background color and some padding to the footer */

.carousel-inner img {
	width: 100%; /* Set width to 100% */
	margin: auto;
	min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
	.carousel-caption {
	display: none; 
}
}