.logo{
	margin: 0;
	height: 50px;
	margin-top: -12px;
}
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
.errorImg{
	height: 200px !important; 
	padding: 20px !important;
}
.errorDetailsHeading{
	color: #d6283a;
	text-transform: uppercase;
}
.break{
	padding: 3px !important;
}

/* Add a gray background color and some padding to the footer */

.carousel-inner img {
	width: 100%; /* Set width to 100% */
	margin: auto;
	min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
	.carousel-caption {
	display: none; 
}
}
h1.headingHome{
	padding-bottom: 50px;
	color: #267499;
	font-size: 3.3em;
}
p.headingParagraph{
	font-size: 1.3em;
}
.containerPassword{
	margin-top:100px; 
}
.adminStylePaddingTop{
	margin-top: 100px !important;
}
h2.titleButton{
	font-size: 1.5em !important;
	color: #236f9b;
}
.TitleAdmin{
	height: 350px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.titleRow{
	padding: 50px;
}

i.reg{
	background-color:  #297087;
	color: #ffffff;
	font-size: 40px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	margin: 10px 15px;
	vertical-align: middle;
}