extends layout

block content
	.container
		.row
			.header.text-center
				span.fa.fa-calendar
				h1 CURRENT BOOKINGS
		.col-sm-12
			.row
				.col-sm-2
					.well
						p.text-center
							img.img-circle(src='./images/maleDashboard.png', height='90', width='90', alt='Avatar')
				.col-sm-10
					.well
						p
							i.fa.fa-user
							|  Name:
						p
							i.fa.fa-building
							|  Address:
						p
							i.fa.fa-envelope
							|  Email:
						p
							i.fa.fa-phone
							|   Phone Number:
						p
							i.fa.fa-check-square-o
							|   Service being rendered:
						p
							i.fa.fa-calendar
							|  Date Started:
						p
							i.fa.fa-check
							|   Date Finished:
						p
							i.fa.fa-money
							|   Service Cost:
						button.btn.btn-success.btn-sm(type='button', data-toggle='modal', data-target='#addServiceDiv') DONE
						#addServiceDiv.modal.fade(role='dialog')
							.modal-dialog
								// Modal content
								.modal-content
									.modal-header
										button.close(type='button', data-dismiss='modal') ×
										h4.modal-title Service Done
									.modal-body
										.form-group
											label(for='renderedDate') Date Finished
											input#addService.form-control(type='text')

											label(for='renderedDate') Time Finished
											input#addService.form-control(type='text')

											label(for='serviceCost') How much is the total cost?
											input#addService.form-control(type='text')
									.modal-footer
										button.btn.btn-success(type='button') Save
										button.btn.btn-danger(type='button', data-dismiss='modal') Close


