extends layout

block content
	.container
		.row
			.header.text-center
				span.fa.fa-calendar
				h1 CURRENT BOOKINGS
		for ho_booking in hoList
			if ho_booking.req_status == "Accepted"
				.col-sm-12
					.row
						.col-sm-2
							.well
								p.text-center
									img.img-circle(src='./images/maleDashboard.png', height='90', width='90', alt='Avatar')
						.col-sm-9
							.well
									table.table
										tbody
											tr
												th.head(scope='row') Name
												td
													= ho_booking.name
											tr
												th.head(scope='row') Address
												td 
													= ho_booking.address
											tr
												th.head(scope='row') Email
												td 
													= ho_booking.email
											tr
												th.head(scope='row') Phone Number
												td 
													= ho_booking.cp_no
											tr
												th.head(scope='row') Service being Rendered
												td 
											tr
												th.head(scope='row') Date and Time Started
												td
													= ho_booking.startdate + " (" + ho_booking.starttime + ")"
											tr
												th.head(scope='row') Type of Service
												td 
													= ho_booking.servtype
						.col-sm-1
							button.btn.btn-success.btn-sm(type='button', data-toggle='modal', data-target='#addServiceDiv')
								span.fa.fa-check 
								|	DONE
							#addServiceDiv.modal.fade(role='dialog')
								.modal-dialog
									// Modal content
									.modal-content
										.modal-header
											button.close(type='button', data-dismiss='modal') ×
											h4.modal-title Service Done

										.modal-body
											.form-group
												label(for='renderedDate') Date Finished
												input#addService.form-control(type='text')

											label(for='renderedDate') Time Finished
											input#addService.form-control(type='text')

											label(for='serviceCost') How much is the total cost?
											input#addService.form-control(type='text')

										.modal-footer
											button.btn.btn-success(type='button')
												span.fa.fa-check 
												|	DONE
											button.btn.btn-danger(type='button', data-dismiss='modal')
												span.fa.fa-times 
												|	CLOSE


