extends layout

block content
	#myCarousel.carousel.slide(data-ride='carousel')
		// Indicators
		ol.carousel-indicators
			li.active(data-target='#myCarousel', data-slide-to='0')
			li(data-target='#myCarousel', data-slide-to='1')
		// Wrapper for slides
		.carousel-inner(role='listbox')
			.item.active
				img(src='./images/Header.jpg', alt='Image')
			.item
				img(src='./images/Header2.jpg', alt='Image')
		// Left and right controls
		a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
			span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
			span.sr-only Previous
		a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
			span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
			span.sr-only Next
	.container
		br
		.row.text-center
			.col-sm-4
				.well.status
					i.iconStatus.fa.fa-check
					.h2.homeWellTitle Total Number of Rendered Services
					br
					p.statusNumber
						|50
			.col-sm-4
				.well.status
					i.iconStatus.fa.fa-calendar
					.h2.homeWellTitle Current Number of Bookings
					br
					p.statusNumber
						|20
			.col-sm-4
				.well.status
					i.iconStatus.fa.fa-question
					.h2.homeWellTitle Number of Pending Requests
					br
					p.statusNumber
						|3

		.row
			h2.text-center ABOUT US
			br

			.col-sm-9
				p.aboutUs.text-justify
					|RenderIt Corporation is a leading provider of Home Services. We offer each of our 40+ business associations and industry partners "best-in-class" Internet marketing services targeted for their members' unique needs. We provide our clients with web design, web marketing and social media campaigns optimized for their specific industry.

			.col-sm-3
				img.img-responsive(src='./images/House.png')

