extends layout

block content
	#myCarousel.carousel.slide(data-ride='carousel')
		// Indicators
		ol.carousel-indicators
			li.active(data-target='#myCarousel', data-slide-to='0')
			li(data-target='#myCarousel', data-slide-to='1')
		// Wrapper for slides
		.carousel-inner(role='listbox')
			.item.active
				img(src='https://placehold.it/1200x400?text=IMAGE', alt='Image')
				.carousel-caption
					h3 Sell $
					p Money Money.
			.item
				img(src='https://placehold.it/1200x400?text=Another Image Maybe', alt='Image')
				.carousel-caption
					h3 More Sell $
					p Lorem ipsum...
		// Left and right controls
		a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
			span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
			span.sr-only Previous
		a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
			span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
			span.sr-only Next
	.container.text-center
		h3 What We Do
		br
		.row
			.col-sm-4
				img.img-responsive(src='https://placehold.it/150x80?text=IMAGE', style='width:100%', alt='Image')
				p Current Project
			.col-sm-4
				img.img-responsive(src='https://placehold.it/150x80?text=IMAGE', style='width:100%', alt='Image')
				p Project 2
			.col-sm-4
				.well
					p Some text..
				.well
					p Some text..
