extends layout

block content
	#myCarousel.carousel.slide(data-ride='carousel')
		// Indicators
		ol.carousel-indicators
			li.active(data-target='#myCarousel', data-slide-to='0')
			li(data-target='#myCarousel', data-slide-to='1')
		// Wrapper for slides
		.carousel-inner(role='listbox')
			.item.active
				img(src='./images/Header.jpg', alt='Image')
			.item
				img(src='./images/Header2.jpg', alt='Image')
		// Left and right controls
		a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
			span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
			span.sr-only Previous
		a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
			span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
			span.sr-only Next
	.container
		br
		.row.text-center
			.col-sm-4
				.well.status.hvr-border-fade
					a.home(href='/transactions')
						i.iconStatus.fa.fa-check
						h2.homeWellTitle Total Number of Rendered Services
						br
						p.statusNumber
							span= total_request
			.col-sm-4
				.well.status.hvr-border-fade
					a.home(href='/booking')
						i.iconStatus.fa.fa-calendar
						h2.homeWellTitle Current Number of Bookings
						br
						p.statusNumber
							|20
			.col-sm-4
				.well.status.hvr-border-fade
					a.home(href='/request')
						i.iconStatus.fa.fa-question
						h2.homeWellTitle Number of Pending Requests
						br
						p.statusNumber
							|3

		.row
			h2.text-center.titleHome ABOUT US
			br

			.col-sm-9
				p.aboutUs.text-justify
					|RenderIt is a company that provides the best Home Services thru the Web. The process and the transactions are done online. Every process are seen online. Just create and/or register your free Account with us and you can use that to request Services. Just Find a Service Provider that suits your Requested Home Service and we'll do the rest.

			.col-sm-3
				img.img-responsive.center-block(src='./images/House.png')

