extends layout

block content
	.container
		.jumbotron
			.container
				h1 Hello! How are you today?
				p Aorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been th e industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				a.btn.btn-primary.btn-lg(href='/') See your requests now, for more productivity
		.container
			.row
				.col-md-4
					h2 About me
					p Aliquam aliquet ante a magna aliquam accumsan. Vivamus in ornare elit. Cras mauris massa, aliquam et commodo eget, viverra nec nulla. Phasellus efficitur erat non orci tincidunt, id gravida sapien commodo. Sed quis libero quis nulla dapibus cursus. Cras nec imperdiet ligula. Duis fermentum, enim sed viverra iaculis, dolor eros ornare ligula, a dictum nulla elit a tellus. Phasellus tincidunt feugiat quam nec dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla tempor venenatis ex at hendrerit. 
					a.btn.btn-default(href='/requests') View Details
				.col-md-4
					h2 About me
					p Aliquam aliquet ante a magna aliquam accumsan. Vivamus in ornare elit. Cras mauris massa, aliquam et commodo eget, viverra nec nulla. Phasellus efficitur erat non orci tincidunt, id gravida sapien commodo. Sed quis libero quis nulla dapibus cursus. Cras nec imperdiet ligula. Duis fermentum, enim sed viverra iaculis, dolor eros ornare ligula, a dictum nulla elit a tellus. Phasellus tincidunt feugiat quam nec dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla tempor venenatis ex at hendrerit. 
					a.btn.btn-default(href='/requests') View Request again
				.col-md-4
					h2 About me
					p Aliquam aliquet ante a magna aliquam accumsan. Vivamus in ornare elit. Cras mauris massa, aliquam et commodo eget, viverra nec nulla. Phasellus efficitur erat non orci tincidunt, id gravida sapien commodo. Sed quis libero quis nulla dapibus cursus. Cras nec imperdiet ligula. Duis fermentum, enim sed viverra iaculis, dolor eros ornare ligula, a dictum nulla elit a tellus. Phasellus tincidunt feugiat quam nec dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla tempor venenatis ex at hendrerit. 
					a.btn.btn-default(href='/requests') View Details