extends layout

block content
	.container.profile
		.row
			.col-sm-3.well
				.well.text-center
					p     
						img.img-circle(src='./images/male.png', height='90', width='90', alt='Avatar')
					p.name
						|Pedro Agustin
					p
						a(href='/')
						button.btn.btn-danger.span.glyphicon.glyphicon-log-out(class='data-toggle=', title='Logout!', type='button') Logout


				.well.text-center
					p.title
						|SERVICES OFFERED
					p
						a(href='/')
						button.btn.btn-success.span.glyphicon.glyphicon-plus(class='data-toggle=', title='Add More Services!', type='button') Add     
					p
						span.label.label-info Laundry
						|           
						span.label.label-info Plumbing
						|           
						span.label.label-info Painting
				.well
					p.title.text-center
						| BASIC INFORMATION
					p.companyName
						span.glyphicon.glyphicon-copyright-mark		Service Incorporated
					p.phoneNumber
						span.glyphicon.glyphicon-earphone	0998172478
					p.email
						span.glyphicon.glyphicon-envelope	service@gmail.com
					p.companyAddress
						span.glyphicon.glyphicon-globe	876 Juan Luna Street, Makati
					p.rating
						span.glyphicon.glyphicon-ok
			.col-sm-9
				.row
					.col-sm-12
						h1.dashboardHeading FEEDBACKS
				.row
					.col-sm-3
						.well
							p.text-center 
								img.img-circle(src='./images/maleDashboard.png', height='90', width='90', alt='Avatar')
					.col-sm-9
						.well
							p
								| Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
				.row
					.col-sm-3
						.well
							p.text-center
								img.img-circle(src='./images/male1Dashboard.png', height='90', width='90', alt='Avatar')
					.col-sm-9
						.well
							p
								| Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
				.row
					.col-sm-3
						.well
							p.text-center 
								img.img-circle(src='./images/maleDashboard.png', height='90', width='90', alt='Avatar')
					.col-sm-9
						.well
							p
								| Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
				.row
					.col-sm-3
						.well
							p.text-center 
								img.img-circle(src='./images/male1Dashboard.png', height='90', width='90', alt='Avatar')
					.col-sm-9
						.well
							p
								| Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.