extends layout

block content
	.container.profile
		.row
			.col-sm-3.well
				.well.text-center
					p     
						img.img-circle(src='./images/male.png', height='90', width='90', alt='Avatar')
					p.name
						|Pedro Agustin
					p
						a(href='/')
						button.btn.btn-danger.btn-sm(type='button', data-toggle='modal', data-target='#myModal') Logout


				.well.text-center
					p.title SERVICES OFFERED
					button.btn.btn-success.btn-sm(type='button', data-toggle='modal', data-target='#addServiceDiv') Add
					#addServiceDiv.modal.fade(role='dialog')
						.modal-dialog
							// Modal content
							.modal-content
								.modal-header
									button.close(type='button', data-dismiss='modal') ×
									h4.modal-title Add a Service
								.modal-body
									.form-group
										label(for='addService') What Service will you add?
										input#addService.form-control(type='text')
								.modal-footer
									button.btn.btn-success(type='button') Add
									button.btn.btn-danger(type='button', data-dismiss='modal') Close
					p
						span.label.label-info Laundry
						span.label.label-info Plumbing
						span.label.label-info Painting
				.well
					p.title.text-center
						| BASIC INFORMATION
					p.companyName
						span.glyphicon.glyphicon-copyright-mark
					p.phoneNumber
						span.glyphicon.glyphicon-earphone
					p.email
						span.glyphicon.glyphicon-envelope
					p.companyAddress
						span.glyphicon.glyphicon-globe
					p.rating
						span.glyphicon.glyphicon-ok
			.col-sm-9
				.row
					.col-sm-12
						h1.dashboardHeading FEEDBACKS
				.row
					.col-sm-3
						.well
							p.text-center 
								img.img-circle(src='./images/maleDashboard.png', height='90', width='90', alt='Avatar')
					.col-sm-9
						.well
							p
								| Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
				.row
					.col-sm-3
						.well
							p.text-center
								img.img-circle(src='./images/male1Dashboard.png', height='90', width='90', alt='Avatar')
					.col-sm-9
						.well
							p
								| Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
				.row
					.col-sm-3
						.well
							p.text-center 
								img.img-circle(src='./images/maleDashboard.png', height='90', width='90', alt='Avatar')
					.col-sm-9
						.well
							p
								| Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
				.row
					.col-sm-3
						.well
							p.text-center 
								img.img-circle(src='./images/male1Dashboard.png', height='90', width='90', alt='Avatar')
					.col-sm-9
						.well
							p
								| Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.