extends layout

block content
	.container.profile.text-center
		.row
			.col-sm-3.well
				.well
					p     
						img.img-circle(src='./images/male.png', height='90', width='90', alt='Avatar')
					p.name
						|Pedro Agustin
					p
						a(href='/')
						button.btn.btn-danger.span.glyphicon.glyphicon-log-out(class='data-toggle=', title='Logout!', type='button') Logout


				.well
					p
						|SERVICES OFFERED         
					p
						span.label.label-default Laundry
						|           
						span.label.label-primary Plumbing
						|           
						span.label.label-success Painting
				.well
					p
						| BASIC INFORMATION
					p 
						span.glyphicon.glyphicon-user
						| 
					p
						span.glyphicon.glyphicon-phone
						| 
			.col-sm-9
				.row
					.col-sm-3
						.well
							p 
								p SAMPLE IMAGE
					.col-sm-9
						.well
							p
								| Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
				.row
					.col-sm-3
						.well
							p 
								p SAMPLE IMAGE
					.col-sm-9
						.well
							p
								| Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
				.row
					.col-sm-3
						.well
							p 
								p SAMPLE IMAGE
					.col-sm-9
						.well
							p
								| Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
				.row
					.col-sm-3
						.well
							p 
								p SAMPLE IMAGE
					.col-sm-9
						.well
							p
								| Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.