extends layout

block content
	.container
		.row
			.header.text-center
				span.fa.fa-cogs
				h1 SERVICE TRANSACTIONS
		.col-sm-12
			table.table.table-hover.table-responsive
				thead
					tr.info
						th
							span.fa.fa-user  
							|  Customer Name
						th 
							span.fa.fa-building
							|	Address
						th 
							span.fa.fa-building
							|	Service
						th 
							span.fa.fa-calendar
							|	Date Started
						th 
							span.fa.fa-calendar
							|	Time Started
						th 
							span.fa.fa-check
							|	Dated Ended
						th 
							span.fa.fa-check
							|	Time Ended
						th 
							span.fa.fa-calculator
							|	Total Service Cost
				tbody
					tr
						td Jose Santos
						td Quezon City
						td Gardening
						td 03/10/2017
						td 12:20
						td 03/10/2017
						td 5:00
						td 2,000

					tr
						td Jose Santos
						td Quezon City
						td Gardening
						td 03/10/2017
						td 12:20
						td 03/10/2017
						td 5:00
						td 2,000

					tr
						td Jose Santos
						td Quezon City
						td Gardening
						td 03/10/2017
						td 12:20
						td 03/10/2017
						td 5:00
						td 2,000


