extends layout

block content
	.container
		.row
			.header.text-center
				span.fa.fa-cogs
				h1 SERVICE TRANSACTIONS
		.col-sm-12
			table.table.table-striped.table-hover.table-responsive
				thead
					tr
						th
							span.fa.fa-user  
							|  Customer Name
						th 
							span.fa.fa-building
							|	Address
						th 
							span.fa.fa-building
							|	Service
						th 
							span.fa.fa-calendar
							|	Date Started
						th 
							span.fa.fa-calendar
							|	Time Started
						th 
							span.fa.fa-check
							|	Dated Ended
						th 
							span.fa.fa-check
							|	Time Ended
						th 
							span.fa.fa-calculator
							|	Total Service Cost
				tbody
					tr
						td 
						td 
						td 
						td
						td
						td
						td
						td


